<div class="navbar-fixed">
  <nav class="blue">
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li>
            <a href=""><img href="#" src="assets/img/logo-wow.png" alt="logo" class="logo"></a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['home']">Home</a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['heroes']">Heroes</a>
        </li>
      </ul>
      <form class="right row">
        <div class="input-field col">
          <input id="search" type="search" required>
          <label class="label-icon" for="search">
            <i class="material-icons">search</i>
          </label>
          <i class="material-icons">close</i>
        </div>
        <div class="col">
          <input value="Buscar" class=" cyan btn btn-small" type="button">
        </div>
      </form>

    </div>
  </nav>
</div>
