/* You can add global styles to this file, and also import other style files */

.logo{
  width: 4em;
}


.container{
  min-height: 100vh;

}

main{
  margin-top: 1em;
}

.column-wrapper{
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
